@model FashionGo.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Hoàn thành đăng ký tài khoản";
    Layout = "~/Views/Shared/_ClearLayout.cshtml";
}
<h2 class="page-title">@ViewBag.Title.</h2>
<h3>Liên kết tài khoản @ViewBag.LoginProvider của bạn.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Thông tin thêm</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    <p class="text-info">
        Bạn đã xác thực thành công bằng tài khoản <strong>@ViewBag.LoginProvider</strong>. 
        Vui lòng nhập thông tin bổ sung của bạn để hoàn thành đăng ký.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Đăng ký" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
