@model IEnumerable<FashionGo.Models.Entities.Product>
@using System.Web.Configuration
@if (Model.Count() > 0)
{
    <div class="wrap t3-latest-product ">
        <div class="t3-module module " id="Mod100">
            <div class="module-inner">
                <h3 class="module-title"><span>Sản phẩm cùng danh mục</span></h3>
                <div class="module-ct">
                    <div class="row eshop-product ">
                        <div class="customNavigation">
                            <a class="btn prev"><span class="text-hide">Quay lại</span></a>
                            <a class="btn next"><span class="text-hide">Tiếp</span></a>
                        </div>
                        <div id="images-product-row" class="">
                            @foreach (var item in Model)
                            {
                                <div class="image">
                                    <a href="@Url.RouteUrl("ProductDetails", new { slug = item.Name.ToAscii(), id = item.Id })" title="@item.Name">
                                        <img id="product-image-@item.Id" class="image img-responsive" alt="@item.Name" src="@item.FeaturedImage">
                                    </a>
                                    <h4 class="eshop-product-title">
                                        <a href="@Url.RouteUrl("ProductDetails", new { slug = item.Name.ToAscii(), id = item.Id })" class="link" data-original-title="@item.Name">
                                            @item.Name
                                        </a>
                                    </h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-xs-6">
                                            @if (item.Discount.Value > 0)
                                            {
                                                <span class="eshop-base-price">@Html.FormatValue(item.Price, "{0:0,0}")đ</span>
                                            }
                                            <span class="eshop-price">@Html.FormatValue(item.PriceAfter, "{0:0,0}")đ</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-6">
                                            <button id="add-to-cart-@item.Id" class="btn btn-primary" onclick="flyToCart(@item.Id); ">Thêm vào giỏ</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <script type="text/javascript">
                                jQuery(document).ready(function ($) {
                                    var owl = $("#images-product-row");
                                    owl.owlCarousel({
                                        pagination: false,
                                        items: 3,
                                    });
                                    // Custom Navigation Events
                                    $(".next").click(function () {
                                        owl.trigger('owl.next');
                                    })
                                    $(".prev").click(function () {
                                        owl.trigger('owl.prev');
                                    })
                                });
                    </script>
                </div>
            </div>
        </div>
    </div>
}
